:root {
  --font-family-body: "General Sans", sans-serif;
  --font-family-headings: "Boska", serif;

  --step--2: clamp(0.7038rem, 0.7257rem + -0.0283vw, 0.72rem);
  --step--1: clamp(0.9rem, 0.887rem + 0.0652vw, 0.9375rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.4063rem, 1.3158rem + 0.4522vw, 1.6663rem);
  --step-2: clamp(1.7581rem, 1.597rem + 0.8054vw, 2.2213rem);
  --step-3: clamp(2.1975rem, 1.9321rem + 1.3272vw, 2.9606rem);
  --step-4: clamp(2.7469rem, 2.3295rem + 2.087vw, 3.9469rem);
  --step-5: clamp(3.4331rem, 2.7975rem + 3.1783vw, 5.2606rem);

  --color-text: #1f1d39;
  --color-border: #ababab;
  --color-background: #ffffff;
}

body {
  font-family: var(--font-family-body);
  font-size: var(--step-0);
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headings);
}

body {
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex-grow: 1;
}

img,
figure {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

a,
a:visited {
  text-decoration: none;
  color: var(--color-text);
}
